
#articulo-3{
    color:green
}

h2{
    color:peru;
}

.texto-morado{
    color:blueviolet;
}
.texto-violeta{
    color:rgba(137, 43, 226, 0.692);
}
.texto-purpura{
    color:rgba(137, 43, 226, 0.63);
}
.texto-moradofuerte{
    color:rgba(137, 43, 226, 0.562);
}
.texto-azul{
    color:rgba(55, 43, 226, 0.418);
}